img {
    vertical-align: middle;
    border-style: none;
}

main {
    overflow: hidden;
    padding: 0px;
}


body {
    position: relative;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1, h2 {
    display: block;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

div {
    display: block;
}

header {
    background: #f9f9f9;;
    height: 75px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 8;
}

html {
    -webkit-text-size-adjust: 100%;
}

strong {
    font-weight: 500;
}

a {
    text-decoration: none;
}

#pedir{
    float: right
}

.input-container{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.button-logar{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ff6776;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form-log{
    position: relative;
    margin:10px;
    text-align: center;
}

.welcome{
    font-size: 20px;
    color:#fff;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin-left: 50px;
}

.welcome-pic{
    width: 80px;
    height: auto;
    margin-left: 10px;
    border-radius: 40px;
}

.scroll-back{
    width: 100%;
    height: 5px;
    position: fixed;
    left: 0;
    top: 74px;
    z-index: 99;
    background: #c4c4c4;
}

.scroll-line{
    height: 5px;
    margin-bottom: -2;
    background: #00adef;
    position: fixed;
    left: 0;
    top: 74px;
    z-index: 2;
}

.scroll-change{
    display: none;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.logo-header{
    padding-top: 15px;
}

.home-screen{
    background: #1b234a;
    margin: 80px 0 0 0;
    padding: 100px 0 50px;
}

.posi-1, .posi-2, .posi-3, .posil-1, .posil-2, .posi-4, .newpos-1, .newpos-12 .newpos-2, .newpos-3, .posi-6, .posi-7, .novo-pos1, .novo-pos2{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.novo-pos2{
    flex: 0 0 55%;
    max-width: 55%;
}

.posi-3{
    max-width: 100%;
}

.posi-5{
    flex: 0 0 25%;
    max-width: 25%;
}

.posi-6{
    flex: 0 0 100%;
    max-width: 100%;
}

.posi-7{
    flex: 0 0 75%;
    max-width: 75%;
}

.title-digio{
    font-size: 70px;
    color: #3fece2;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.text-digo{ 
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin: 40px 0;
}

.image-fluid{
    max-width: 100%;
    height: auto;
}

.btn-pink{
    margin: 0 10px;
    justify-content: center;
    padding: 10px 0;
    width: 258px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background: #ff6776;
    display: flex;
    align-items: center;
}

.btn-pink2{
    margin: 0 10px;
    justify-content: center;
    padding: 10px 0;
    width: 258px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background: #ff6776;
    display: flex;
    align-items: center;
}

.btn-white{
    width: 290px;
    font-size: 16px;
    color: #1b234a;
    font-weight: 500;
    font-family: "Montserrat",sans-serif;
    text-align: center;
    background: #fff;
    padding: 10px 15px;
    min-height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
}

.peca-cartao{
    padding: 15px 3px;
    font-size: 16px;
    margin-top: 9px;
}

.digioCartao{
    background: #1b234a;
}

.title-digioCartao{
    font-size: 50px;
    color: #ffff;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.text-digioCartao{
    font-size: 20px;
    color:#fff;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin: 60px 0;
}

.pad-0{
    padding: 0;
}

.pad-1{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center;
}

.pad-2{
    padding-right: 3rem;
    padding-left: 3rem;
}

.m-1{
    margin: 0;
}

.m-2{
    margin-top: 3rem;
}

.m-3{
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.m-4{
    margin-bottom: 3rem;
}

.m-8{
    margin: 60px 0;
}

.font-16{
    font-size: 16px;
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

@media (max-width:767px){
    .hideMobile{
        display: none;
    }
    header .logo-header{
        padding-top: 20px;
    }
    .title-digio{
        font-size:24px;
    }
    .text-digo{
        margin: 0;
    }
    .home-screen{
        padding:50px 0;
    }
    .home-screen, .column-reverse{
        flex-direction: column-reverse;
    }
    .btn-pink{
        margin: 30px 0;
    }
    .title-digioCartao{
        font-size: 30px;
    }
    br{
        display: none;
    }
    .btn-white{
        padding: 5px 10px;
    }
    .peca-cartao{
        width: 95%;
        font-size: 13px;  
    }
    
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
    .posi-1{
        flex: 0 0 60%;
        max-width: 60%;
    } 
    .posil-1{
        flex: 0 0 30%;
        max-width: 30%;
    }
    .posi-4{
        flex: 0 0 41%;
        max-width: 41%;
    }   
    .newpos-1{
        flex: 0 0 33%;
        max-width: 33%;
    }
    .newpos-3{
        flex: 0 0 53%;
        max-width: 53%;
    } 
    .appearMobile{
        display: none;
    }
    .novo-pos1{
        flex: 0 0 50%;
        max-width: 50%;
    }
} 

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
    .posi-2{
        flex: 0 0 60.5%;
        max-width: 60.5%;
    } 
    .posil-2{
        flex: 0 0 30%;
        max-width: 30%;
    }
    .newpos-2{
        flex: 0 0 53%;
        max-width: 53%;
    } 
    .newpos-12{
        flex: 0 0 40%;
        max-width: 40%;
    }
    
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
